body, html {
    height: 100%;
    margin:0;
}

// img {
//     width: 100%;
//     height: auto;
// }

body {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 228, 27);
}

.banner {
    border: 5px solid black;
    border-radius:10px;
    height:80%;
    width:60%;
    background: linear-gradient(to bottom, rgb(43, 116, 252) 1%, rgb(135, 209, 252) 39%, rgba(255,255,255,1) 100%);
    position: relative;
    overflow: hidden;
}

.galactic {
    position: absolute;
    bottom:0;
    left:0;
    width:200%;
    height:100%;
    z-index: 1;
    animation: animGalactic 50s 0s infinite linear;
}
.galactic div{
    float:left;
    background: linear-gradient(to bottom, rgb(43, 116, 252) 1%, rgb(135, 209, 252) 39%, rgba(255,255,255,1) 100%);
        width:50%;
        height:100%;
        background-repeat: no-repeat;
        background-size: cover;
}

@keyframes animGalactic {
    0% {transform: translate((0%,0));}
    100% {transform: translate((-50%,0));}
}

.planet {
    position: absolute;
    left:0;
    bottom:0px;
    width:200%;
    height:100%;
    z-index: 2;
    animation: animPlants 30s 0s infinite linear;
    
}

.planet div{
    float:left;
    background: url(../images/ziemka.png) 10% 30% no-repeat,
                url(../images/planet2.png) 40% 10% no-repeat,
                url(../images/planet3.png) 70% 100% no-repeat;  
        width:50%;
        height:100%;
        background-size: 10vw 10vw;
    
}

@keyframes animPlants {
    0% {transform: translate((0%,0)); }
    100% {transform: translate((-50%,0));}
}



.clouds1 {
    width:200%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    z-index: 3;
    
    animation: animClouds 20s 0s infinite linear;
}

.clouds1 div {
    float:left;
    width:50%;
    height:100%;
    background:
            url(../images/chmura3.png) 0% 10% no-repeat,
            url(../images/chmura2.png) 80% 50% no-repeat,
            url(../images/chmura3.png) 15% 90% no-repeat;
    background-size: 10vw 5vw;
}

/* chmóry zestaw 2 */
.clouds2 {
    width:200%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    z-index: 4;
    opacity: 0.4;
    filter:blur(2px);
    animation: animClouds 30s 0s infinite linear;
}

.clouds2 div {
    float:left;
    width:50%;
    height:100%;
    background:
            url(../images/chmura3.png) 50% 80% no-repeat,
            url(../images/chmura2.png) 10% 40% no-repeat,
            url(../images/chmura3.png) 95% 25% no-repeat;
    background-size: 10vw 5vw;
}

@keyframes animClouds {
    0% {transform: translate((0%,0));}
    100% {transform: translate((-50%,0));}
}
.spa {
    position:relative;
    height: 100%;
    width:100%;
}
.spaceship {
    position: absolute;
    left:50%;
    top:40%;
    z-index:5;
    background:url(../images/statek.png) 0 0 no-repeat;
    background-size:15vw 10vw;
    height: 100%;
    width:100%;
    animation: spaceshiprotate 5s infinite alternate linear;
}


@keyframes spaceshiprotate {
    0% {transform:rotate(0);}
    100% {transform:translateY(5vw);}
}

.text {
    position:absolute;
    left:0%;
    top:0%;
    width:100%;
    z-index:10;
    font-family: 'Bangers', cursive;
    font-size:4em;
    line-height: 2em;
    transform:rotate(-10deg) skew(-15deg);
    letter-spacing: 10px;
    padding:20px;
    text-shadow: 4px 4px 0px #fff;
    h2, h3 {
        margin:0;
        text-align: center;

    }

    h2 {
        color:rgb(252, 7, 7);
    }

    h3 {
        color:rgb(252, 7, 7);
    }

    @for $i from 1 through 10 {
        $time : (0.1 * $i) * 1s;
        $timeLoop : (0.2 + 0.1 * $i) * 1s;
        $whenOut : 8s;

        span:nth-of-type(#{$i}) {
            opacity:0;
            position:relative;
            animation: animLetterIn 1s #{$time} 1 linear forwards,
            animLetterLoop 1s #{$timeLoop} infinite alternate,
            animLetterOut 1s #{$whenOut + $time} 1 linear forwards;
        }
    }

}

@keyframes animLetterIn {
    0% {
        
        top:-100%;
        left:100%;
    }
    100% {
        opacity:1;
        top:0%;
        left:0%;
    }
}

@keyframes animLetterLoop {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

@keyframes animLetterOut {
    0% {
        opacity:1;
        left:0;
    }
    100% {
        opacity:0;
        left:0;
    }
}