@charset "UTF-8";
body, html {
  height: 100%;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1be41b;
}

.banner {
  border: 5px solid black;
  border-radius: 10px;
  height: 80%;
  width: 60%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #2b74fc), color-stop(39%, #87d1fc), to(white));
  background: linear-gradient(to bottom, #2b74fc 1%, #87d1fc 39%, white 100%);
  position: relative;
  overflow: hidden;
}

.galactic {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  height: 100%;
  z-index: 1;
  -webkit-animation: animGalactic 50s 0s infinite linear;
          animation: animGalactic 50s 0s infinite linear;
}

.galactic div {
  float: left;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #2b74fc), color-stop(39%, #87d1fc), to(white));
  background: linear-gradient(to bottom, #2b74fc 1%, #87d1fc 39%, white 100%);
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

@-webkit-keyframes animGalactic {
  0% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@keyframes animGalactic {
  0% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.planet {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 200%;
  height: 100%;
  z-index: 2;
  -webkit-animation: animPlants 30s 0s infinite linear;
          animation: animPlants 30s 0s infinite linear;
}

.planet div {
  float: left;
  background: url(../images/ziemka.png) 10% 30% no-repeat, url(../images/planet2.png) 40% 10% no-repeat, url(../images/planet3.png) 70% 100% no-repeat;
  width: 50%;
  height: 100%;
  background-size: 10vw 10vw;
}

@-webkit-keyframes animPlants {
  0% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@keyframes animPlants {
  0% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.clouds1 {
  width: 200%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  -webkit-animation: animClouds 20s 0s infinite linear;
          animation: animClouds 20s 0s infinite linear;
}

.clouds1 div {
  float: left;
  width: 50%;
  height: 100%;
  background: url(../images/chmura3.png) 0% 10% no-repeat, url(../images/chmura2.png) 80% 50% no-repeat, url(../images/chmura3.png) 15% 90% no-repeat;
  background-size: 10vw 5vw;
}

/* chmóry zestaw 2 */
.clouds2 {
  width: 200%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
  opacity: 0.4;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-animation: animClouds 30s 0s infinite linear;
          animation: animClouds 30s 0s infinite linear;
}

.clouds2 div {
  float: left;
  width: 50%;
  height: 100%;
  background: url(../images/chmura3.png) 50% 80% no-repeat, url(../images/chmura2.png) 10% 40% no-repeat, url(../images/chmura3.png) 95% 25% no-repeat;
  background-size: 10vw 5vw;
}

@-webkit-keyframes animClouds {
  0% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@keyframes animClouds {
  0% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.spa {
  position: relative;
  height: 100%;
  width: 100%;
}

.spaceship {
  position: absolute;
  left: 50%;
  top: 40%;
  z-index: 5;
  background: url(../images/statek.png) 0 0 no-repeat;
  background-size: 15vw 10vw;
  height: 100%;
  width: 100%;
  -webkit-animation: spaceshiprotate 5s infinite alternate linear;
          animation: spaceshiprotate 5s infinite alternate linear;
}

@-webkit-keyframes spaceshiprotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: translateY(5vw);
            transform: translateY(5vw);
  }
}

@keyframes spaceshiprotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: translateY(5vw);
            transform: translateY(5vw);
  }
}

.text {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  z-index: 10;
  font-family: 'Bangers', cursive;
  font-size: 4em;
  line-height: 2em;
  -webkit-transform: rotate(-10deg) skew(-15deg);
          transform: rotate(-10deg) skew(-15deg);
  letter-spacing: 10px;
  padding: 20px;
  text-shadow: 4px 4px 0px #fff;
}

.text h2, .text h3 {
  margin: 0;
  text-align: center;
}

.text h2 {
  color: #fc0707;
}

.text h3 {
  color: #fc0707;
}

.text span:nth-of-type(1) {
  opacity: 0;
  position: relative;
  -webkit-animation: animLetterIn 1s 0.1s 1 linear forwards, animLetterLoop 1s 0.3s infinite alternate, animLetterOut 1s 8.1s 1 linear forwards;
          animation: animLetterIn 1s 0.1s 1 linear forwards, animLetterLoop 1s 0.3s infinite alternate, animLetterOut 1s 8.1s 1 linear forwards;
}

.text span:nth-of-type(2) {
  opacity: 0;
  position: relative;
  -webkit-animation: animLetterIn 1s 0.2s 1 linear forwards, animLetterLoop 1s 0.4s infinite alternate, animLetterOut 1s 8.2s 1 linear forwards;
          animation: animLetterIn 1s 0.2s 1 linear forwards, animLetterLoop 1s 0.4s infinite alternate, animLetterOut 1s 8.2s 1 linear forwards;
}

.text span:nth-of-type(3) {
  opacity: 0;
  position: relative;
  -webkit-animation: animLetterIn 1s 0.3s 1 linear forwards, animLetterLoop 1s 0.5s infinite alternate, animLetterOut 1s 8.3s 1 linear forwards;
          animation: animLetterIn 1s 0.3s 1 linear forwards, animLetterLoop 1s 0.5s infinite alternate, animLetterOut 1s 8.3s 1 linear forwards;
}

.text span:nth-of-type(4) {
  opacity: 0;
  position: relative;
  -webkit-animation: animLetterIn 1s 0.4s 1 linear forwards, animLetterLoop 1s 0.6s infinite alternate, animLetterOut 1s 8.4s 1 linear forwards;
          animation: animLetterIn 1s 0.4s 1 linear forwards, animLetterLoop 1s 0.6s infinite alternate, animLetterOut 1s 8.4s 1 linear forwards;
}

.text span:nth-of-type(5) {
  opacity: 0;
  position: relative;
  -webkit-animation: animLetterIn 1s 0.5s 1 linear forwards, animLetterLoop 1s 0.7s infinite alternate, animLetterOut 1s 8.5s 1 linear forwards;
          animation: animLetterIn 1s 0.5s 1 linear forwards, animLetterLoop 1s 0.7s infinite alternate, animLetterOut 1s 8.5s 1 linear forwards;
}

.text span:nth-of-type(6) {
  opacity: 0;
  position: relative;
  -webkit-animation: animLetterIn 1s 0.6s 1 linear forwards, animLetterLoop 1s 0.8s infinite alternate, animLetterOut 1s 8.6s 1 linear forwards;
          animation: animLetterIn 1s 0.6s 1 linear forwards, animLetterLoop 1s 0.8s infinite alternate, animLetterOut 1s 8.6s 1 linear forwards;
}

.text span:nth-of-type(7) {
  opacity: 0;
  position: relative;
  -webkit-animation: animLetterIn 1s 0.7s 1 linear forwards, animLetterLoop 1s 0.9s infinite alternate, animLetterOut 1s 8.7s 1 linear forwards;
          animation: animLetterIn 1s 0.7s 1 linear forwards, animLetterLoop 1s 0.9s infinite alternate, animLetterOut 1s 8.7s 1 linear forwards;
}

.text span:nth-of-type(8) {
  opacity: 0;
  position: relative;
  -webkit-animation: animLetterIn 1s 0.8s 1 linear forwards, animLetterLoop 1s 1s infinite alternate, animLetterOut 1s 8.8s 1 linear forwards;
          animation: animLetterIn 1s 0.8s 1 linear forwards, animLetterLoop 1s 1s infinite alternate, animLetterOut 1s 8.8s 1 linear forwards;
}

.text span:nth-of-type(9) {
  opacity: 0;
  position: relative;
  -webkit-animation: animLetterIn 1s 0.9s 1 linear forwards, animLetterLoop 1s 1.1s infinite alternate, animLetterOut 1s 8.9s 1 linear forwards;
          animation: animLetterIn 1s 0.9s 1 linear forwards, animLetterLoop 1s 1.1s infinite alternate, animLetterOut 1s 8.9s 1 linear forwards;
}

.text span:nth-of-type(10) {
  opacity: 0;
  position: relative;
  -webkit-animation: animLetterIn 1s 1s 1 linear forwards, animLetterLoop 1s 1.2s infinite alternate, animLetterOut 1s 9s 1 linear forwards;
          animation: animLetterIn 1s 1s 1 linear forwards, animLetterLoop 1s 1.2s infinite alternate, animLetterOut 1s 9s 1 linear forwards;
}

@-webkit-keyframes animLetterIn {
  0% {
    top: -100%;
    left: 100%;
  }
  100% {
    opacity: 1;
    top: 0%;
    left: 0%;
  }
}

@keyframes animLetterIn {
  0% {
    top: -100%;
    left: 100%;
  }
  100% {
    opacity: 1;
    top: 0%;
    left: 0%;
  }
}

@-webkit-keyframes animLetterLoop {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animLetterLoop {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes animLetterOut {
  0% {
    opacity: 1;
    left: 0;
  }
  100% {
    opacity: 0;
    left: 0;
  }
}

@keyframes animLetterOut {
  0% {
    opacity: 1;
    left: 0;
  }
  100% {
    opacity: 0;
    left: 0;
  }
}
/*# sourceMappingURL=styles.css.map */